.speech-bubble {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5.5rem;
  width: 25rem; 
  height: 3rem; 
  overflow: hidden; /* 내용이 넘칠 경우 숨깁니다. */
}

.speech-bubble-text {
  display: ralative;
  z-index: 100;
  font-size: 1.2rem;
  max-width: 100%;
  color: black;
  white-space: normal; /* 줄바꿈을 허용합니다. */
  text-align: center; /* 텍스트를 중앙 정렬합니다. */
  cursor: pointer;
}

.login-overlay {
  /* background-color: blue; */
  position: relative;
  top: -570px;
  left: 640px;
  width: 13rem; 
  height: 3rem; 
  z-index: 100;
  pointer-events: auto; /* 포인터 이벤트 활성화 */
  cursor: pointer;
}

.print-canvas {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  width:100vw;
  height:100vh;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.cute-card {
  position: relative;
  width: 50vw;
  height: 35vw; 
  font-size: 1.5rem;
  background: rgba(255, 255, 255);
  border-radius: 1rem;
  padding: 1.5rem 2rem 0.5rem 2rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr); /* 3등분한 컬럼 */
  grid-column-gap:0.5rem;
  /* grid-row-gap:1rem; */
  grid-template-areas: 
    "school-logo . ."
    "name name id-picture"
    "email email id-picture"
    "school school id-picture"
    "MBTI MBTI id-picture"
    "IG IG kim-logo";
  cursor: pointer; /*클릭시 qr 출력 위함*/
  overflow: hidden; /* 이 속성이 경계를 넘어서는 자식 요소들을 숨감 */
}

.school-logo{grid-area: school-logo;}
.name { grid-area: name; }
.email { grid-area: email; }
.school { grid-area: school; }
.MBTI { grid-area: MBTI; }
.IG { grid-area: IG; }
.id-picture{grid-area: id-picture;}
.kim-logo{grid-area: kim-logo;}

.school-logo img {
  width: 40%; /* 부모 요소인 .school-logo에 맞게 조정 */
  height: auto; /* 이미지의 비율을 유지하면서 너비에 맞춤 */
  object-fit: cover; /* 이미지를 부모 요소에 맞추되, 비율 유지 */
  margin-bottom: 1rem;
}
.id-picture img {
  width: 100%; /* 부모 요소인 .school-logo에 맞게 조정 */
  height: 98%; /* 이미지의 비율을 유지하면서 너비에 맞춤 */
  object-fit: cover; /* 이미지를 부모 요소에 맞추되, 비율 유지 */
}
.kim-logo img {
  margin-left: 6.8rem;
  margin-top: 0.5rem;
  width: 50%; /* 부모 요소인 .school-logo에 맞게 조정 */
  height: 50%; /* 이미지의 비율을 유지하면서 너비에 맞춤 */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(105deg, transparent 40%, rgba(255, 219, 112, 1) 40%, rgba(132, 50, 255, 1) 50%, transparent 54%);
  filter: blur(30px) brightness(1.1) opacity(0.7);
  mix-blend-mode: screen;
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}

.qr-description{
  position: absolute;
  top: 46rem;
  padding: 0.5rem;
  font-size: 1.5rem; 
  background-color: bisque;
}

.QR{
  position: absolute;
}

.popup-overlay {
  position: fixed; /* 전체 화면을 커버 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px) grayscale(90%);
  z-index: 999; /* 팝업 뒤에 위치하도록 z-index 설정 */
}
.save-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* 다른 요소들보다 높은 값으로 설정 */
  background-color: rgb(255,255,255); /* 배경색 */
  font-size: 2rem;
  padding: 1rem; /* 패딩 */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 1rem; 
}

.yes-save{
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  cursor: pointer; 
  font-size: 1rem; 
}
.no-save{
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  cursor: pointer; 
  font-size: 1rem;
}

.back {
  position: absolute;
  top: 3.5rem;
  right: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem; 
  cursor: pointer;
  background: rgba(255, 255, 255);
  border-radius: 1rem;
}

.gallery-canvas{
  background: rgba(255, 255, 255, 0.7);
  width:100vw;
  height:100vh;
  border-radius: 2rem;
}

.gallery-description{
  top: 3.5rem;
  left: 3rem;
  position: absolute;
  padding: 0.5rem;
  font-size: 1.5rem; 
  background-color: bisque;
}




/* .card-test{
  position: relative;
  width: 50vw;
  height: 35vw; 
  border-radius: 1rem;
  cursor: pointer; 
  overflow: hidden;
}
.card-test img {
  width: 100%; 
  height: 100%; 
}
.card-test .name {
  position: absolute;
  bottom: 212px; 
  left: 18%; 
  color: darkblue;
  text-align: center; 
} */
