.start-overlay-container{ 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  width: 100%;
  height: 100%;
}

.start-btn{
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 8%) 0px 2px 4px 0px;
  align-items: center;
  transition: background-color .24s, box-shadow .24s;
}
.start-btn:hover {
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 20%) 0px 3px 9px 0px, rgb(60 66 87 / 20%) 0px 2px 5px 0px;
}

.speech-bubble {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5.5rem;
  width: 30rem; 
  height: 3rem; 
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

.speech-bubble-text {
  /* background-color: red; */
  font-size: 1.2rem;
  color: black;
  white-space: nowrap;
  text-align: center; 
  cursor: pointer;
  overflow: hidden;
  animation: typing 2s steps(40, end) forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.userNameTyping {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30, end) forwards;
}



.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 8%) 0px 2px 4px 0px;
  border-radius: 4px;
  padding: 10px;
  align-items: center;
  transition: background-color .24s, box-shadow .24s;
}

.btn:hover {
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 20%) 0px 3px 9px 0px, rgb(60 66 87 / 20%) 0px 2px 5px 0px;
}

.btn img {
  width: 30px; 
  height: auto; 
}

.overlay-btns-container {
  position:fixed;
  top: 750px;
  right: 20px;
  display: flex;
  z-index:18388635;
  /* background-color: aqua; */
  justify-content: center; 
  gap: 30px;
}


.login-overlay {
  /* background-color: blue; */
  position: relative;
  top: -710px;
  left: 660px;
  width: 13rem; 
  height: 3rem; 
  z-index: 100;
  cursor: pointer;
}

.print-canvas {
  background: rgba(255, 255, 255, 0.7);
  width:75rem;
  height:50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}


/*여러 데이터 올리기 확인용*/
/* .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px; 
  justify-content: center;
} */



.card {
  background-color: aqua;
  width: 51rem;
  height: 30rem;
  margin-top:8rem;
  position: relative;
  border-radius: 1rem;
  cursor:pointer;
  perspective:100rem;
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: transform 1s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack {
  background-image: url('/images/BC_front.png');
  background-size: cover; 
  background-position: center; 
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cardBack.flipped {
  transform: rotateY(0deg);
}

.cardFront {
  background-image: url('/images/BC_front.png');
  background-size: cover; 
  background-position: center; 
  transform: rotateY(0deg);
}

.cardFront.flipped {
  transform: rotateY(-180deg);
}

.info-container {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.info-item {
  position: absolute;
}

.card-image{
  width: 18rem;
  height: 20rem;
  margin-top:6.5rem;
  margin-left: 2rem;
}

.date{
  top: 100px;
  right: 70px;
}
.name {
  top: 140px;
  right: 150px;
}
.school {
  top: 171px; 
  left:520px; 
}
.studentNum {
  top: 171px; 
  right: 150px; 
}
.major {
  top: 203px; 
  right:150px;
}
.email {
  top: 233px; 
  right: 150px;
}
.session {
  top: 263px; 
  right:150px;
}
.MBTI {
  top: 293px; 
  right: 150px;
}
.IG {
  top: 325px; 
  right: 150px; 
}
.moto {
  top: 356px; 
  right: 150px;
}

.QR{
  position: absolute;
  margin: 15rem 40rem;
}

.qr-description{
  position: absolute;
  top: 43rem;
  padding: 0.5rem;
  font-size: 1.5rem; 
  cursor:default;
  background-color: bisque;
}




.popup-overlay {
  position: fixed; /* 전체 화면을 커버 */
  right: 1000;
  bottom: 1000;
  width:10000px;
  height:1000px;
  backdrop-filter: blur(4px) grayscale(0%);
  z-index: 10;
}

.logout-save-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; 
  background-color: rgb(255,255,255); /* 배경색 */
  font-size: 2rem;
  padding: 2rem; /* 패딩 */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-popup {
  position: absolute;
  margin-top:10rem;
  z-index: 1000; 
  background-color: rgb(255, 255, 255); 
  font-size: 2rem;
  padding:10rem; /* 패딩 */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top:2rem;
  gap: 1rem; 
}

.yes-save{
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  cursor: pointer; 
  font-size: 1rem; 
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem; 
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 8%) 0px 2px 4px 0px;
  align-items: center;
  transition: background-color .24s, box-shadow .24s;
}
.yes-save:hover {
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 20%) 0px 3px 9px 0px, rgb(60 66 87 / 20%) 0px 2px 5px 0px;
}

.no-save{
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  cursor: pointer; 
  font-size: 1rem;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 8%) 0px 2px 4px 0px;
  align-items: center;
  transition: background-color .24s, box-shadow .24s;
}
.no-save:hover {
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(60 66 87 / 20%) 0px 3px 9px 0px, rgb(60 66 87 / 20%) 0px 2px 5px 0px;
}



.back {
  position: absolute;
  top: 3.5rem;
  right: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem; 
  cursor: pointer;
  background: rgba(255, 255, 255);
  border-radius: 1rem;
}

.gallery-canvas{
  background: rgba(255, 255, 255, 0.7);
  width:100vw;
  height:100vh;
  border-radius: 2rem;
}

.gallery-description{
  top: 3.5rem;
  left: 3rem;
  position: absolute;
  padding: 0.5rem;
  font-size: 1.5rem; 
  background-color: bisque;
}